In [13]:
#Convert an integer to a floating-point number.

my_int= 2

float(my_int)

2.0

In [14]:
#Convert a float to an integer.

my_float=2.5

int(my_float)

2

In [15]:
#Convert an integer to a string.

my_int=2

str(my_int)

'2'

In [19]:
#Convert a list to a tuple.

my_list=[1,2,3,4]

tuple(my_list)

(1, 2, 3, 4)

In [20]:
#Convert a tuple to a list.

my_tuple = (1, 2, 3, 4)

list(my_tuple)

[1, 2, 3, 4]

In [22]:
#Convert a decimal number to binary.

my_decimal_number = 42

bin(my_decimal_number)

'0b101010'

In [23]:
#Convert a non-zero number to boolean.

my_number = 56

bool(my_number)

True